<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet"> 
</head>
</head>
<body>
    <header class="header1">
        <div class="parte1">
            <article class="header-flex">
                <img src="\img\logo-mercado-liebre.svg" class="logo">
                <div class="padre">
                    <div>
                        <input class="header-cont-padre" type="text" name="buscador" placeholder="Buscar productos, marcas y mas">
                    </div>
                    <div>
                        <button class="header-cont-Hijo" type="submit"><i class="fas fa-search"> </i></button>
                    </div>
                </div>
            </article>
            <h2 class="copy">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#"><i id="hambur" class="fas fa-bars"></i></a>
        <nav class="parte2">
            <ul class="parte2-a">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="parte2-b">
                <li><a href="https://merd-liebre.herokuapp.com/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="https://merd-liebre.herokuapp.com/logi">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li> 
            </ul>
        </nav>
    </header>
    <main class="fondo22">
        <div class="imghome2">
            <img width="100%" height="20%" src="/img/home.jpg">
        </div>
        <h2 class="text">Basados en tu ultima visita</h2>
        <nav class="contenedor-de-cajas">
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="/img/cafe.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$6.770 </p>
                            <p id="verde" class="Descuento">40% OFF</p>  
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="\img\mac.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$230.000 </p>
                            <p id="verde" class="Descuento">20% OFF</p>  
                        </div>
                        <p class="nombre" >MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="/img/celu.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$70.500 </p>
                            <p id="verde" class="Descuento">10% OFF</p>  
                        </div>
                        <p class="nombre" >Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="/img/tv.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$23.200 </p>
                            <p id="verde" class="Descuento">5% OFF</p>  
                        </div>
                        <p class="nombre">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </nav>
        <h2 class="text">Sección de Ofertas</h2>
        <nav class="contenedor-de-cajas">
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="/img/cafe.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$6.770 </p>
                            <p id="verde" class="Descuento">40% OFF</p>  
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="\img\mac.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$230.000 </p>
                            <p id="verde" class="Descuento">20% OFF</p>  
                        </div>
                        <p class="nombre" >MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="/img/celu.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$70.500 </p>
                            <p id="verde" class="Descuento">10% OFF</p>  
                        </div>
                        <p class="nombre" >Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article class="cajas">
                <div class="Mpadre1">
                    <div class="cafe">
                        <img width="90%" src="/img/tv.jpg">
                    </div>
                    <div class="Mhijo1">
                        <div class="cami">
                            <i id="camion" class="fas fa-truck"> </i>
                        </div>
                        <div class="main-flex-1">
                            <p class="precio">$23.200 </p>
                            <p id="verde" class="Descuento">5% OFF</p>  
                        </div>
                        <p class="nombre">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </nav>
    </main>
    <footer class="fondo33">
            <div class="footer2">
                <nav class="footer-flex">
                    <article class="footer-text-cont">
                        <div class="moverr">
                            <i class="fas fa-credit-card"></i>
                        </div>
                        <h2 class="centro">Pagá con tarjeta o en efectivo</h2>
                        <p class="centro">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                    </article>
                    <article class="footer-text-cont">
                        <div class="moverr">
                            <i class="fas fa-gift"></i>
                        </div>
                        <h2 class="centro">Envío gratis desde $ 2.500</h2>
                        <p class="centro">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </article>
                    <article class="footer-text-cont">
                        <div class="moverr">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h2 class="centro">Seguridad, de principio a fin</h2>
                        <p class="centro">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </article>
                </nav>
                <p class="footer-text-ult">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    </footer>
</body>
</html>