<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet"> 
</head>
</head>
<body class="home22">
    <header class="header1">
        <div class="reg-campo1">
            <img src="\img\logo-mercado-liebre.svg" class="logo">
            <div class="help"><i class="far fa-question-circle"></i></div>
        </div>
        
    </header>
    <main class="fondo22-login">
        <nav class="reg-main-login">
            <h3 class="main-Sesion">Iniciar Sesion</h3>
            <form action="resultado.html" method="POST">
                <p>
                    <input id="main-agrandar-login" type="text" name="Usuario" placeholder="Nombre de Usuario" required>
                </p>
                <p>
                    <input id="main-agrandar-login" type="password" name="password" placeholder="Contraseña" required>
                </p>
                <button class="enviar-login" type="submit"><a id="enviar" href="http://localhost:3000/home2">Enviar</a> </button>
            </form>
        </nav>
    </main>
</body>
</html>