<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet"> 
</head>
</head>
<body>
    <header class="header1">
        <div class="parte1">
            <article class="header-flex">
                <img src="\img\logo-mercado-liebre.svg" class="logo">
                <div class="padre">
                    <div>
                        <input class="header-cont-padre" type="text" name="buscador" placeholder="Buscar productos, marcas y mas">
                    </div>
                    <div>
                        <button class="header-cont-Hijo" type="submit"><i class="fas fa-search"> </i></button>
                    </div>
                </div>
            </article>
            <h2 class="copy">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#"><i id="hambur" class="fas fa-bars"></i></a>
        <nav class="parte2">
            <ul class="parte2-a">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="parte2-b">
                <li><a href="http://localhost:3000/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="http://localhost:3000/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li> 
            </ul>
        </nav>
    </header>
    <main class="fondo22">
        <nav class="reg-main">
            <form action="resultado.html" method="POST">
                <p>
                    <input id="main-agrandar" type="text" name="Nombre y Apellido" placeholder="Nombre y Apellido"  required>
                </p>
                <p>
                    <input id="main-agrandar" type="text" name="Usuario" placeholder="Nombre de Usuario" required>
                </p>
                <p>
                    <input id="main-agrandar" type="email" name="E-mail" placeholder="E-mail" required>
                </p>
                <p>
                    <label class="labell" for="fecha">Fecha de nacimiento</label>
                    <input id="main-agrandar" type="date" name="fecha" id="fecha" required>
                </p>
                <p>
                    <input id="main-agrandar" type="text" name="Domicilio" placeholder="Domicilio" required>
                </p>
                <p>
                    <label class="perfil" for="fecha">Perfil del Usuario</label>
                    <input type="radio" name="perfil1" id="perfil" required> <label >Comprador</label>
                    <input type="radio" name="perfil2" id="perfil" required> <label >Vendedor</label>
                </p>
                <p>
                    <label class="labell">Intereses</label>
                    <div class="main-conte-2"><input id="main-check" type="checkbox" name="Intereses"  required> <label >Electro</label></div>
                    <div class="main-conte-2"><input id="main-check" type="checkbox" name="Intereses"  required> <label >Moda</label></div>
                    <div class="main-conte-2"><input id="main-check" type="checkbox" name="Intereses"  required> <label >Hogar</label></div>
                    <div class="main-conte-2"><input id="main-check" type="checkbox" name="Intereses"  required> <label >Jugueteria</label></div>
                    <div class="main-conte-2"><input id="main-check" type="checkbox" name="Intereses"  required> <label >Vida Sana</label></div>
                </p>
                <p class="jpg">
                    <label class="labell"> Seleccionar una imagen para el perfil</label>
                    <input type="file" name="avatar" accept=".jpg">
                </p>
                <p>
                    <input id="main-agrandar" type="password" name="password" placeholder="Contraseña" required>
                </p>
                <button id="enviar" type="submit"><a id="enviar" href="https://merd-liebre.herokuapp.com/">Enviar</a> </button>
                <button id="enviar1" type="reset"> Borrar</button>
            </form>
        </nav>
    </main>
    <footer class="fondo33">
            <div class="footer2">
                <nav class="footer-flex">
                    <article class="footer-text-cont">
                        <div class="moverr">
                            <i class="fas fa-credit-card"></i>
                        </div>
                        <h2 class="centro">Pagá con tarjeta o en efectivo</h2>
                        <p class="centro">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                    </article>
                    <article class="footer-text-cont">
                        <div class="moverr">
                            <i class="fas fa-gift"></i>
                        </div>
                        <h2 class="centro">Envío gratis desde $ 2.500</h2>
                        <p class="centro">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </article>
                    <article class="footer-text-cont">
                        <div class="moverr">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h2 class="centro">Seguridad, de principio a fin</h2>
                        <p class="centro">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </article>
                </nav>
                <p class="footer-text-ult">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    </footer>
</body>
</html>